In [1]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 构建线性回归模型

In [2]:
# 读取示例数据
data = pd.read_csv("house_price_simple.csv")
data

         面积  卧室数  厕所数 所在城市      价格
0     957.2    2    1    C  397300
1    1998.7    3    1    B  719500
2    1641.5    4    3    B  628300
3     746.9    2    2    D  359300
4    1210.7    3    1    D  487500
..      ...  ...  ...  ...     ...
995  1817.4    4    2    C  680100
996  2035.0    2    2    A  705000
997  1045.3    3    3    B  454400
998  1735.1    2    3    A  629300
999   944.3    3    1    B  389200

[1000 rows x 5 columns]

In [3]:
# 为data的“所在城市”分类变量创建虚拟变量，并指定虚拟变量类型为整数，且删除掉第一个虚拟变量

In [4]:
# 创建构建线性回归模型所需的因变量和自变量

In [5]:
# 查看X里所有变量之间的相关系数，并求绝对值

In [6]:
# 这一步是为了下面绘图做准备，由于DataFrame的列名为中文，MatPlotlib的字体无法直接展示，需要替换字体
import matplotlib
# 把图表默认的字体替换成Heiti TC字体（你的系统上不一定有这个字体，如果没有的话需要替换成其它的）
matplotlib.rc("font",family='Heiti TC')

In [7]:
# 对X里所有变量之间的相关系数的绝对值绘制热力图

In [8]:
# 在自变量里添加一个常量（为了引入截距）

In [9]:
# 构建线性回归模型，并进行数据拟合


# 输出拟合结果

## 预测新数据

In [10]:
# 读取用于预测的示例数据
new_observation = pd.read_csv("house_price_predict_simple.csv")
new_observation

       面积  卧室数  厕所数 所在城市
0   957.2    2    2    C
1  1998.7    2    2    C
2  1641.5    4    1    C
3   746.9    2    2    C
4  1210.7    2    1    B
5  2325.7    2    1    C
6   286.7    4    2    A
7  1285.5    4    1    D
8  2133.0    3    1    D
9  1066.6    3    1    D

In [11]:
# 把new_observation的“所在城市”列转换为包含'A'、'B'、'C'、'D'类别的分类变量

In [12]:
# 为new_observation的“所在城市”分类变量创建虚拟变量，并指定虚拟变量类型为整数，且删除掉第一个虚拟变量

In [13]:
# 在new_observation里添加一个常量（为了引入截距）

In [14]:
# 利用前面的线性回归模型，把new_observation作为自变量进行预测